pkgbase = aethon-git
	pkgdesc = Pi with a face - agent-driven desktop shell with A2UI
	pkgver = 0.4.0.r0.g305240f
	pkgrel = 1
	url = https://github.com/utensils/aethon
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = bun
	makedepends = desktop-file-utils
	makedepends = dpkg
	makedepends = git
	makedepends = nodejs
	makedepends = pkgconf
	makedepends = rustup
	depends = alsa-lib
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = glib-networking
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libayatana-appindicator
	depends = libsoup3
	depends = openssl
	depends = pango
	depends = webkit2gtk-4.1
	provides = aethon
	conflicts = aethon
	options = !lto
	options = !debug
	source = aethon::git+https://github.com/utensils/aethon.git
	sha256sums = SKIP

pkgname = aethon-git
