pkgbase = aethon
	pkgdesc = Pi with a face - agent-driven desktop shell with A2UI
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/utensils/aethon
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = bun
	makedepends = desktop-file-utils
	makedepends = dpkg
	makedepends = git
	makedepends = nodejs
	makedepends = pkgconf
	makedepends = rustup
	depends = alsa-lib
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = glib-networking
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libayatana-appindicator
	depends = libsoup3
	depends = openssl
	depends = pango
	depends = webkit2gtk-4.1
	options = !lto
	options = !debug
	source = aethon-0.4.0.tar.gz::https://github.com/utensils/aethon/archive/refs/tags/v0.4.0.tar.gz
	sha256sums = 112b64be7a7e71a0c14c848f78faf88488b326a5e3a8a4e04933983e490d82e8

pkgname = aethon
